<p-toast></p-toast>

<p-confirmdialog></p-confirmdialog>

<p-toolbar styleClass="mb-6">
    <ng-template pTemplate="start">
        <p-button label="New" icon="pi pi-plus" severity="secondary" styleClass="mr-2" (click)="openNew()"/>
    </ng-template>

    <ng-template pTemplate="end">
        <p-button label="Export" icon="pi pi-upload" severity="secondary" />
    </ng-template>
</p-toolbar>
<div class="card">
    <p-table
        [value]="objEmployees" [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="rows"
        [rowsPerPageOptions]="rowsPerPageOptions">

        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Action</th> </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                <span
                    [class.status-active]="product.status"
                    [class.status-inactive]="!product.status"
                    class="status-tag">
                    {{ product.status ? 'Active' : 'Inactive' }}
                </span>
                </td>

                <td>
                    <p-button
                        icon="pi pi-pencil"
                        styleClass="p-button-rounded p-button-text p-button-sm mr-2 tailwind-edit-btn"
                        (click)="editEmployee(product)">
                    </p-button>

                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-text p-button-sm tailwind-delete-btn"
                        (click)="deleteEmployee(product)">
                    </p-button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="employeeDialog"
          [style]="{width: '450px'}"
          [header]="dialogHeader"
          [modal]="true"
          styleClass="p-fluid">

    <!-- CONTENT -->
    <ng-template pTemplate="content">
        <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
            <div class="card flex flex-col gap-4">
                <div class="flex flex-col gap-2">
                    <label for="name">Name</label>
                    <input pInputText id="name" formControlName="name" />

                    @if (f['name'].invalid && (f['name'].dirty || f['name'].touched)) {
                        <small class="p-error">
                            @if (f['name'].errors?.['required']) {
                                <span>Name is required.</span>
                            }
                            @if (f['name'].errors?.['maxlength']) {
                                <span>Name cannot be more than 50 characters.</span>
                            }
                        </small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="category">Category</label>
                    <p-select
                        [options]="categories"
                        formControlName="category"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Select Categories"
                        [filter]="true">
                    </p-select>
                    @if (f['category'].invalid && (f['category'].dirty || f['category'].touched)) {
                        <small class="p-error">Category is required.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="quantity">Quantity</label>
                    <p-inputNumber id="quantity"
                                   formControlName="quantity"
                                   [showButtons]="true"
                                   [min]="1">
                    </p-inputNumber>
                    @if (f['quantity'].invalid && (f['quantity'].dirty || f['quantity'].touched)) {
                        <small class="p-error">Quantity is required and must be at least 1.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="status" class="mr-2">Status:</label>
<!--                    <p-checkbox formControlName="status" [binary]="true" inputId="status"></p-checkbox>-->
<!--                    <span class="ml-2">-->
<!--                    {{ employeeForm.get('status')?.value ? 'Active' : 'Inactive' }}-->
<!--                    </span>-->
                    <div class="flex items-center">
                        <p-checkbox formControlName="status" [binary]="true" inputId="status"></p-checkbox>
                        <label class="ml-2"> {{ employeeForm.get('status')?.value ? 'Active' : 'Inactive' }}</label>
                    </div>
                </div>
                <div class="flex flex-col gap-2">

                </div>
            </div>
        </form>
    </ng-template>

    <!-- FOOTER (optional, use click instead of submit) -->
    <ng-template pTemplate="footer">
        <p-button label="Cancel" icon="pi pi-times" severity="secondary"
                  (click)="hideDialog()"></p-button>
        <p-button label="Save" icon="pi pi-check"
                  (click)="saveEmployee()"
                  [disabled]="employeeForm.invalid"></p-button>
    </ng-template>
</p-dialog>
