<p-confirmDialog key="delete"></p-confirmDialog>
<p-toast></p-toast>

<div class="card">
    <div class="flex items-center justify-between mb-4">
        <div class="font-semibold text-xl">MSN Management</div>
        <p-button label="Create New" icon="pi pi-plus" severity="primary" routerLink="/msn-management/add" />
    </div>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="start">
            <div class="flex flex-wrap gap-2 align-items-center">
                <input pInputText [(ngModel)]="searchCode" placeholder="Code" class="w-8rem"
                       (keyup.enter)="getList()" />
                <p-button
                    label="Search"
                    icon="pi pi-search"
                    [loading]="loading()"
                    (click)="getList()"
                    styleClass="p-button-primary" />

                <p-button
                    label="Clear"
                    icon="pi pi-filter-slash"
                    [disabled]="loading()"
                    (click)="clearSearch()"
                    styleClass="p-button-outlined p-button-secondary" />
            </div>
        </ng-template>
    </p-toolbar>

    <div class="list-progress" style="height: 3px">
        @if (loading()) {
            <p-progressBar mode="indeterminate" [style]="{'height': '3px'}"></p-progressBar>
        }
    </div>

    <p-table
        [value]="msnManagement()"
        styleClass="p-datatable-gridlines p-datatable-sm"
        [tableStyle]="{ 'min-width': '75rem' }"
        [paginator]="true"
        [rows]="10">

        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Generate Date</th>
                <th>Manufacture</th>
                <th>Product</th>
                <th>Model</th>
                <th>Batch</th>
                <th>QTY</th>
                <th>Mapped QTY</th>
                <th style="width: 100px">Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-record>
            <tr>
                <td>{{ record.code }}</td>
                <td>{{ record.generateDate | date: 'dd/MM/yyyy' : 'UTC' }}</td>
                <td>
                    @if (record.manufacturer || record.manufacture) {
                        <span class="text-blue-600 underline">
                         {{ record.manufacturer?.code || record.manufacture?.code }} -
                                        {{ record.manufacturer?.name || record.manufacture?.name }}
                        </span>
                    }
                </td>
                <td>
                    @if (record.product) {
                        <span class="text-blue-600 underline">{{ record.product.code }}
                            - {{ record.product.name }}</span>
                    }
                </td>
                <td>
                    @if (record.model) {
                        <span class="text-blue-600 underline">{{ record.model.code }} - {{ record.model.name }}</span>
                    }
                </td>
                <td>{{ record.batchNo }}</td>
                <td>{{ record.qty }}</td>
                <td>{{ record.mappedQty }}</td>
                <td>
                    <div class="flex">
                        <p-button
                            label="Detail"
                            [routerLink]="['/msn-management/detail', record.id]"
                            styleClass="p-button-rounded p-button-text p-button-sm p-button-info"
                        ></p-button>
                        <p-button
                            label="Edit"
                            [routerLink]="['/msn-management/edit', record.id]"
                            styleClass="p-button-rounded p-button-text p-button-sm"
                        ></p-button>
                        <p-button
                            label="Delete"
                            (onClick)="onDelete(record.id)"
                            styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"
                        ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10" class="text-center p-4">
                    @if (loading()) {
                        <span>Loading data...</span>
                    } @else {
                        <span>No record available.</span>
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
