
<p-toast></p-toast>
<div class="flex flex-col gap-8 w-full" [formGroup]="form">
    <div class="w-full">
        <div class="card flex flex-col gap-4">
            <div class="flex justify-between items-center mb-2">
                <div class="font-semibold text-xl">Company Management</div>
                <div class="flex gap-2">
                    <p-button label="Back to list" icon="pi pi-arrow-left" routerLink="/company-management/list" severity="secondary"></p-button>
                    <p-button label="Save" icon="pi pi-save" (onClick)="onSave()" [loading]="saving()"></p-button>
                </div>
            </div>

            <div class="flex flex-col md:flex-row gap-8">

                <div class="flex flex-col gap-4 flex-1">
                    <div class="flex flex-col gap-2">
                        <label for="code" class="font-medium">Code <span class="required"></span></label>
                        <input pInputText id="code" placeholder="Company Code..." type="text" formControlName="code" class="w-full" />
                        @if (form.get('code')?.invalid && form.get('code')?.touched) {
                            <small class="p-error">Field is required.</small>
                        }
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="name" class="font-medium">Name <span class="required"></span></label>
                        <input pInputText id="name" type="text" placeholder="Company Name..." formControlName="name" class="w-full" />
                        @if (form.get('name')?.invalid && form.get('name')?.touched) {
                            <small class="p-error">Field is required.</small>
                        }
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="font-medium">Register Date <span class="required"></span></label>
                        <p-floatlabel>
                            <p-datepicker dateFormat="dd/mm/yy" [showIcon]="true" [showButtonBar]="true" formControlName="registerDate" class="w-full" ></p-datepicker>
                        </p-floatlabel>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="phone" class="font-medium">Phone</label>
                        <input pInputText id="phone" type="text" placeholder="Phone Number..." formControlName="phone" class="w-full" />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="contactName" class="font-medium">Contact Name</label>
                        <input pInputText id="contactName" type="text" placeholder="Contact Person..." formControlName="contactName" class="w-full" />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="email" class="font-medium">Email</label>
                        <input pInputText id="email" type="email" placeholder="Email Address..." formControlName="email" class="w-full" />
                        @if (form.get('email')?.errors?.['email'] && form.get('email')?.touched) {
                            <small class="p-error">Please enter a valid email.</small>
                        }
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="address" class="font-medium">Address</label>
                        <input pInputText id="address" type="text" placeholder="Location..." formControlName="address" class="w-full" />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="description" class="font-medium">Description</label>
                        <textarea pInputTextarea id="description" rows="4" placeholder="Additional details..." formControlName="description" class="w-full"></textarea>
                    </div>
                </div>

                <div class="w-full md:w-5/12 lg:w-4/12">
                    <p-fieldset legend="Image">
                        <div class="flex flex-col items-center justify-center border-2 border-dashed border-gray-300 rounded-lg p-4 bg-gray-50 min-h-[200px]">

                            @if (imagePreview()) {
                                <img [src]="imagePreview()" class="max-h-40 rounded mb-4" alt="Manufacturer Logo preview">
                            } @else {
                                <i class="pi pi-image text-5xl text-gray-400 mb-4"></i>
                            }

                            <input #fileInput type="file" (change)="onFileSelect($event)" accept="image/png, image/jpeg, image/jpg" style="display: none;">

                            <p-button
                                label="Choose File"
                                severity="secondary"
                                styleClass="p-button-sm mb-2"
                                icon="pi pi-upload"
                                (onClick)="fileInput.click()">
                            </p-button>

                            <span class="text-gray-500 text-xs text-center">Browse logo image here (png, jpg, jpeg)</span>
                        </div>
                    </p-fieldset>
                </div>

            </div>
        </div>
    </div>
</div>
